<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://seeklogo.com/images/C/cocktail-bar-tourist-sign-logo-3497593B22-seeklogo.com.gif" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div>
  <h2>Shoreditch Cocktail Club</h2>
</div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "+ New Cocktail", new_cocktail_path, {class: "nav-link"}%>
      </li>
      </li>
    </ul>
  </div>
</div>
